<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M.A.W.P</title>
</head>
<body>
    <div id="chatContainer">
        <div id="chatHeader">
            <h2>M.A.W.P</h2>
        </div>
        <div id="chatMessages"></div>
        <div id="message bot">Olá, estou aqui para te ajudar, por favor, faça o upload de seu exame!</div>
        <div id="loadingIndicator"><p>M.A.W.P está digitando...</p></div>
        <form id="messageForm"><input type="text" id="UserInput" placeholder="Digite sua mensagem... " autocomplete="off"><button type="submit"
            id="sendMessageBtn">Enviar</button></form>
    </div>
    
</body>
</html>